/* RESET AND COMMON STYLE */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Jost',sans-serif;
    font-weight: 400;

}
html{
    font-size: 62.5%;
}


/* END OF RESET AND COMMON STYLE */

/* SECTION 1*/
/* .section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,.2),
    rgba(255,255,255,.3)
    ),
} */

.section-1-heading{
    font-size: 6rem;
    font-weight: 700;
    color: rgb(236, 233, 233);
    background-color: none;
    padding: 0 3rem ;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;

}

.person-img{
   width: 25rem;
   height: 25rem; 
   object-fit: cover;
   border-radius: 50%;
   border: .7rem black;

}

.person-name{
   font-size: 2rem;
   color: rgb(207, 193, 193);
   background-color:none;
   margin: .5rem; 
   padding: 15rem 15rem;
   letter-spacing: .3rem;
}

.selection-1-btn{
    font-size: 1.7rem;
    font-weight: 700;
    color: white(2, 16, 27);
    border: .3rem solid white;
    padding: .5rem 1rem;
   
}
/* END OF SECTION 1*/

/*body*/
/* body{
    margin: 0;
    padding: 0;
    height: 100vh;
} */
/* #particles-js{
    height: 100%;
    background: rgb(24, 2, 2);
} */

.header{
    margin: 0;
    padding: 0;
    /* background-image: url(images/profilepic.jpg);
    -webkit-background-size:cover;
    background-position: center center; */
    width: 100%;
    height: 100vh;
    background-size:cover ;
}
#particles-js{
    width: 100%;
    height: 100vh;
    background: rgb(24, 2, 2);
    background-size:cover ;
}

.home .title{
    font-size: 10rem;
    color: rgb(207, 193, 193);
    background-color:none;
     /* margin: .5rem;  */
   padding: 15rem 15rem;
    letter-spacing: .3rem;
}